<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="input" name="input" />
      <ul>
        <li v-for="filter in filters">{{ filter }}</li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: '#app',
        data: {
          input: '',
          books: [
            'Kalkulus Dasar',
            'Fisika Dasar',
            'Aljabar Linier Elementer',
            'Aljabar Abstrak',
            'Algoritma Pemrograman',
          ],
        },
        computed: {
          filters() {
            if (this.input) {
              console.log(this.input)
              return this.books.filter((book) => {
                return this.input
                  .toLowerCase()
                  .split(' ')
                  .every((v) => book.toLowerCase().includes(v))
              });
            } else {
              return this.books
            }
          },
        },
        methods: {},
      });
    </script>
  </body>
</html>
